<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242199590816-r3qqt83jksc9jqmo7mjllanp2ebutlgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242199590816-r3qqt83jksc9jqmo7mjllanp2ebutlgk</string>
	<key>API_KEY</key>
	<string>AIzaSyBQeBk2bx922x3Awt1K_NNDgyx7x1DpZzg</string>
	<key>GCM_SENDER_ID</key>
	<string>242199590816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zvonimir.medak.DeezerMusic</string>
	<key>PROJECT_ID</key>
	<string>deezermusic-d5ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>deezermusic-d5ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242199590816:ios:d7b104069d976b032156c5</string>
</dict>
</plist>